## Unbilled File Activity Report

In [1]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Pull in the current unbilled file

In [2]:
df = pd.read_csv(r'R:\Austin_CustomReports\Unbilled_Data\UnbilledCurrent.csv', skiprows=3)

df.head(10)

,Reference No.,MOD,Controller,House B/L,File Number,Account,Carrier,Master B/L,Open Date,Delivery ETA,Sail/Flt Date,Inv.,Bkr.,A/P,ETD,File Status
0,430034931,AE,TVEILLEUX,NaN,NaN,DELVAL01,UA,016-62126746,1/14/2021,NaN,1/17/2021,Yes,NaN,NaN,1/17/2021,Pre-shipment
1,150118736,ABI,RSORRENTINO,LON104504498,NaN,SILMAC,VS,93259175034,1/15/2021,1/18/2021,1/18/2021,Yes,NaN,NaN,1/16/2021,Open
2,2403269-01,AI,KLHEUREUX,ADEL20210092,NaN,KLINE02,UA,016-58932414,1/18/2021,NaN,1/17/2021,Yes,NaN,NaN,1/17/2021,- - -
3,2403269-02,AI,KLHEUREUX,ADEL20210094,NaN,KLINE02,UA,016-58932414,1/18/2021,NaN,1/17/2021,Yes,NaN,NaN,1/17/2021,- - -
4,5400078,AI,TSALISBURY50,NaN,NaN,NaN,NaN,NaN,12/3/2020,NaN,1/1/2021,Yes,NaN,NaN,1/1/2021,Open
5,150118671,ABI,MDANH,NaN,NaN,WEBIND03,HLCU,PRG210104019,1/13/2021,1/29/2021,1/29/2021,Yes,NaN,NaN,1/13/2021,- - -
6,2403272-01,AI,KLHEUREUX,ADEL20210097,NaN,KLINE02,UA,016-64475515,1/20/2021,NaN,1/21/2021,Yes,NaN,NaN,1/21/2021,Pre-shipment
7,2403272-02,AI,KLHEUREUX,ADEL20210098,NaN,KLINE02,UA,016-64475515,1/20/2021,NaN,1/21/2021,Yes,NaN,NaN,1/21/2021,Pre-shipment
8,150118672,ABI,MDANH,NaN,NaN,WEBIND03,HLCU,PRG201212447,1/13/2021,2/1/2021,2/1/2021,Yes,NaN,NaN,1/13/2021,- - -
9,150119240,ABI,MDANH,NaN,NaN,SXIND01,UA,01659892991,2/3/2021,2/4/2021,2/4/2021,Yes,NaN,NaN,2/2/2021,- - -

#### Clean the column headers and index

In [3]:
df.rename(columns=df.iloc[2]).reset_index(inplace=True)

df_clean = df.rename({
    'Sail/Flt Date': 'ETA'
}, axis=1)

df_clean = df_clean[['Reference No.', 'MOD', 'Controller', 'House B/L', 'Account', 'Carrier',
               'Master B/L', 'Open Date', 'Delivery ETA', 'ETA', 'Inv.', 'Bkr.', 'A/P',
               'ETD', 'File Status']]

df_clean.head(10)

,Reference No.,MOD,Controller,House B/L,Account,Carrier,Master B/L,Open Date,Delivery ETA,ETA,Inv.,Bkr.,A/P,ETD,File Status
0,430034931,AE,TVEILLEUX,NaN,DELVAL01,UA,016-62126746,1/14/2021,NaN,1/17/2021,Yes,NaN,NaN,1/17/2021,Pre-shipment
1,150118736,ABI,RSORRENTINO,LON104504498,SILMAC,VS,93259175034,1/15/2021,1/18/2021,1/18/2021,Yes,NaN,NaN,1/16/2021,Open
2,2403269-01,AI,KLHEUREUX,ADEL20210092,KLINE02,UA,016-58932414,1/18/2021,NaN,1/17/2021,Yes,NaN,NaN,1/17/2021,- - -
3,2403269-02,AI,KLHEUREUX,ADEL20210094,KLINE02,UA,016-58932414,1/18/2021,NaN,1/17/2021,Yes,NaN,NaN,1/17/2021,- - -
4,5400078,AI,TSALISBURY50,NaN,NaN,NaN,NaN,12/3/2020,NaN,1/1/2021,Yes,NaN,NaN,1/1/2021,Open
5,150118671,ABI,MDANH,NaN,WEBIND03,HLCU,PRG210104019,1/13/2021,1/29/2021,1/29/2021,Yes,NaN,NaN,1/13/2021,- - -
6,2403272-01,AI,KLHEUREUX,ADEL20210097,KLINE02,UA,016-64475515,1/20/2021,NaN,1/21/2021,Yes,NaN,NaN,1/21/2021,Pre-shipment
7,2403272-02,AI,KLHEUREUX,ADEL20210098,KLINE02,UA,016-64475515,1/20/2021,NaN,1/21/2021,Yes,NaN,NaN,1/21/2021,Pre-shipment
8,150118672,ABI,MDANH,NaN,WEBIND03,HLCU,PRG201212447,1/13/2021,2/1/2021,2/1/2021,Yes,NaN,NaN,1/13/2021,- - -
9,150119240,ABI,MDANH,NaN,SXIND01,UA,01659892991,2/3/2021,2/4/2021,2/4/2021,Yes,NaN,NaN,2/2/2021,- - -

#### Read another Excel file to match Cost

In [8]:
df2 = pd.read_csv(r'R:\Austin_CustomReports\Unbilled_Data\Unbilled_test-AP.csv')
df2_clean = df2[['Reference No.', 'Controller', 'Customer ID', 'Amount']]
df2_clean.head(10)

  Reference No.  Controller Customer ID       Amount
0    1115600-01  MRODRIGUEZ    THEDES02  $12,425.00
1    1115659-01  MRODRIGUEZ    ELEFOR01     $527.05
2    1115662-01      PPOMER    WEBIND03   $4,937.75
3    1115675-01      PPOMER    ELEFOR01   $3,925.00
4    1115677-01  MRODRIGUEZ    ELEFOR01   $1,414.22
5    1115688-01  MRODRIGUEZ    ELEFOR01   $5,111.92
6    1115714-01      PPOMER    DARGLO16   $1,813.54
7    1115717-01      PPOMER    COLCHA01   $5,470.00
8    1115719-01  MRODRIGUEZ    WELLPE01   $5,309.00
9    1115724-01  MRODRIGUEZ    NECENE01     $718.13

#### Use a vlookup function to match the Reference No.

In [9]:
my_vlookup = pd.merge(df_clean, df2_clean, on='Reference No.', how='inner')
my_vlookup

,Reference No.,MOD,Controller_x,House B/L,Account,Carrier,Master B/L,Open Date,Delivery ETA,ETA,Inv.,Bkr.,A/P,ETD,File Status,Controller_y,Customer ID,Amount
0,150118736,ABI,RSORRENTINO,LON104504498,SILMAC,VS,93259175034,1/15/2021,1/18/2021,1/18/2021,Yes,NaN,NaN,1/16/2021,Open,RSORRENTINO,SILMAC,"$1,438.71"
1,150119240,ABI,MDANH,NaN,SXIND01,UA,01659892991,2/3/2021,2/4/2021,2/4/2021,Yes,NaN,NaN,2/2/2021,- - -,MDANH,SXIND01,"$96,320.00"
2,150119351,ABI,MDANH,NEC84939890,MICROS01,OZ,98826672542,2/5/2021,2/5/2021,2/5/2021,Yes,NaN,NaN,1/26/2021,- - -,MDANH,MICROS01,"$2,170.14"
3,1233251-01,OI,POSCAR,31013199,WATMAR,CMDU,CMDURTM1064146,1/25/2021,4/26/2021,4/26/2021,Yes,NaN,NaN,2/3/2021,Cleared,POSCAR,WATMAR,"$1,319.68"
4,5101078-01,OE,AWILSON50,NaN,HYDINC01,EGLV,EGLV003100234148,3/2/2021,NaN,3/2/2021,Yes,NaN,NaN,4/22/2021,Arrived Destination Port,AWILSON50,HYDINC01,"$57,900.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,633010692,AE,DLAFORGE,633010692,LANMED02,KE,180-47729150,6/3/2021,NaN,6/14/2021,Yes,NaN,NaN,6/14/2021,Pre-shipment,DLAFORGE,LANMED02,$674.35
759,633010698,AE,KLAU,NaN,IMMINC06,FX,023-78129870,6/4/2021,NaN,6/14/2021,Yes,NaN,NaN,6/14/2021,Pre-shipment,KLAU,IMMINC06,"$2,697.30"
760,633010762-01,AE,KLAU,633010762-01,IMMINC06,60,023-78129892,6/10/2021,NaN,6/14/2021,Yes,NaN,NaN,6/14/2021,Pre-shipment,KLAU,IMMINC06,"$1,050.00"
761,6401431,AI,RSORRENTINO60,6401431,LANMED02,UA,016-65491263,6/11/2021,6/14/2021,6/14/2021,Yes,NaN,NaN,6/14/2021,Cargo Booked,RSORRENTINO60,LANMED02,$460.00
762,8400047-01,AI,RGORGONE,NCEE00261910,JONBAR01,AF,057-57118880,6/1/2021,6/14/2021,6/14/2021,Yes,NaN,NaN,6/14/2021,Cleared,RGORGONE,JONBAR01,"$1,325.20"

Export to a csv file

In [11]:
new_file = my_vlookup.to_csv(r'R:\Austin_CustomReports\Unbilled_Data\Unbilled_Matched-Costs.csv')
new_file

In [29]:
all_files_df = pd.read_csv('../../data/AllShipments_cleaned.csv').reset_index(drop=True).drop(columns='Unnamed: 0')
new_df = all_files_df.rename({
    'FILE NO': 'Reference No.'
}, axis=1)

new_df.head(10)

all_files_df_cleaned = new_df[['Reference No.', 'DIVISION', 'CUSTOMER CODE', 'REVENUE',
                                     'EXPENSE', 'PROFIT', 'TOTAL BILLED TO ACCOUNT']]

all_files_df_cleaned.head(10)

,Reference No.,DIVISION,CUSTOMER CODE,REVENUE,EXPENSE,PROFIT,TOTAL BILLED TO ACCOUNT
0,NaN,20,NaN,0.00,0.00,0.00,0.00
1,0000001,10,WATMAR,0.00,0.00,0.00,0.00
2,0000181,10,10,0.00,0.00,0.00,0.00
3,0000182,10,10,0.00,0.00,0.00,0.00
4,0000183,10,10,0.00,0.00,0.00,0.00
5,0000188,10,10,0.00,0.00,0.00,0.00
6,001328873-01,10,BAKTA01,1887.11,1643.21,243.90,1902.11
7,001328874-01,10,BAKTA01,1379.85,1200.54,179.31,1394.85
8,001328911-01,10,ELEFOR01,1625.95,917.07,708.88,1825.95
9,012267-00,78,URTINC01,2568.00,2260.00,308.00,2568.00

In [30]:
my_vlookup2 = pd.merge(df_clean, all_files_df_cleaned, on='Reference No.', how='inner')
my_vlookup2

,Reference No.,MOD,Controller,House B/L,Account,Carrier,Master B/L,Open Date,Delivery ETA,ETA,...,Bkr.,A/P,ETD,File Status,DIVISION,CUSTOMER CODE,REVENUE,EXPENSE,PROFIT,TOTAL BILLED TO ACCOUNT
0,430034931,AE,TVEILLEUX,NaN,DELVAL01,UA,016-62126746,1/14/2021,NaN,1/17/2021,...,NaN,NaN,1/17/2021,Pre-shipment,40,DELVAL01,0.0,227.35,-227.35,0.0
1,150118736,ABI,RSORRENTINO,LON104504498,SILMAC,VS,93259175034,1/15/2021,1/18/2021,1/18/2021,...,NaN,NaN,1/16/2021,Open,10,SILMAC,0.0,1012.77,0.00,0.0
2,2403269-01,AI,KLHEUREUX,ADEL20210092,KLINE02,UA,016-58932414,1/18/2021,NaN,1/17/2021,...,NaN,NaN,1/17/2021,- - -,20,KLINE02,4412.8,4273.80,139.00,4373.8
3,2403269-02,AI,KLHEUREUX,ADEL20210094,KLINE02,UA,016-58932414,1/18/2021,NaN,1/17/2021,...,NaN,NaN,1/17/2021,- - -,20,KLINE02,1380.9,1277.40,103.50,1369.9
4,5400078,AI,TSALISBURY50,NaN,NaN,NaN,NaN,12/3/2020,NaN,1/1/2021,...,NaN,NaN,1/1/2021,Open,50,NaN,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,5101160-01,OE,TSALISBURY50,NaN,WELBEL01,HLCU,HLCUBKK2105BBBP5,5/28/2021,NaN,5/31/2021,...,NaN,NaN,NaN,Confirmed On Board,50,WELBEL01,0.0,0.00,0.00,0.0
647,7200411,OI,WWESTERHOLD,SHLAX2105083,ORAINC01,NaN,CMDUCNXC004528,4/15/2021,5/31/2021,5/31/2021,...,NaN,NaN,5/20/2021,- - -,77,ORAINC01,0.0,47774.07,-47774.07,0.0
648,730000237,AE,WWESTERHOLD,NaN,SCEBIO01,LH,020-94247156,5/26/2021,NaN,5/31/2021,...,NaN,NaN,5/31/2021,Pre-shipment,77,SCEBIO01,0.0,0.00,0.00,0.0
649,7400275,AI,WWESTERHOLD,VIORDK05002A,WISLLC02,I385,297-38380440,6/1/2021,5/31/2021,5/29/2021,...,NaN,NaN,5/29/2021,- - -,77,WISLLC02,0.0,279.00,-279.00,0.0
650,130033352-01,AE,STRASK,130033352-01,AKOBIO02,10,020-81680060,5/19/2021,NaN,6/10/2021,...,NaN,NaN,6/10/2021,Arrived Destination Port,10,AKOBIO02,0.0,1055.82,0.00,0.0

In [31]:
new_file2 = my_vlookup2.to_csv(r'R:\Austin_CustomReports\Unbilled_Data\UnbilledCurrent_to_AllFiles.csv')
new_file2